@import '../../variables'

.assets
  &__chart
    height: 500px !important
  &__list
    display: flex
    flex-direction: column
  &__balance
    display: flex
    align-items: center
    justify-content: center
    margin: 20px 0
    height: 140px
    width: 350px