@import '../../variables'

.asset
  display: flex
  grid-column-gap: 20px
  padding: 8px 16px
  box-sizing: border-box
  background: white
  border-radius: 4px
  align-items: center
  border-bottom: 1px solid $neutral-30
  &__tags
    display: flex
    grid-column-gap: 4px