@import '../../../variables'

.actions
  display: flex
  align-items: center
  grid-column-gap: 14px
  padding: 16px
  box-sizing: border-box
  border-bottom: 1px solid $neutral-20
  .action
    cursor: pointer