@import 'variables'

*
  font-family: "Inter", sans-serif



input, button
  box-sizing: border-box

a
  text-decoration: none !important

svg
  width: 16px
  height: 16px
  path
    fill: $neutral-70
  cursor: pointer

p
  font-size: 14px
  color: $neutral-70

h1,h2,h3
  color: $neutral-90 !important

h3
  font-size: 16px
h2
  font-size: 18px
h1
  font-size: 20px